.fullscreenContainer {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.gameWrapper {
  width: 100%;
  max-width: 640px;
}